<div class="alertwindow" style="display: flex; flex-direction: column; align-items: center;">
  <p>{{ loadedText.gamesize}}</p>
  <div>
    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <label (mouseenter)="this.voiceoverService.readingText($event)" (mouseleave)="this.speechSynthesizer.stop()" style="width: 200px;">3x4</label>
      <mat-slide-toggle #toggle3x4 style="flex-grow: 1; margin-left: 20px;" (change)="toggle4x4.checked = false; toggle4x5.checked = false" [checked]="gameservice.getRows()==3 && gameservice.getCols()==4"></mat-slide-toggle>
    </div>
    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <label (mouseenter)="this.voiceoverService.readingText($event)" (mouseleave)="this.speechSynthesizer.stop()" style="width: 200px;">4x4</label>
      <mat-slide-toggle #toggle4x4 style="flex-grow: 1; margin-left: 20px;" (change)="toggle3x4.checked = false; toggle4x5.checked = false" [checked]="gameservice.getRows()==4 && gameservice.getCols()==4"></mat-slide-toggle>
    </div>
    <div style="display: flex; align-items: center;margin-bottom: 10px;">
      <label (mouseenter)="this.voiceoverService.readingText($event)" (mouseleave)="this.speechSynthesizer.stop()" style="width: 200px;">4x5</label>
      <mat-slide-toggle #toggle4x5 style="flex-grow: 1; margin-left: 20px;" (change)="toggle3x4.checked = false; toggle4x4.checked = false" [checked]="gameservice.getRows()==4 && gameservice.getCols()==5"></mat-slide-toggle>
    </div>
  </div>
  <br>
  <button (mouseenter)="this.voiceoverService.readingText($event)" (mouseleave)="this.speechSynthesizer.stop()" (click)="submit()">{{ loadedText.save}}</button>
  <br>
</div>
