h1{
  font-size: 100px;
  color: white;
  text-align: center;
}

.centeritems{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
button{
  background: darkblue;
  opacity: 80%;
  border-radius: 20px;
  font-size: 60px;
  color: white;
  padding: 20px 40px 20px 40px;
}

a{
  font-size: 70px;
  color: white;
  text-align: center;
  border-bottom: rgba(13, 35, 65, 0.3) 7px solid;
}

