<img style="height: 100px; width: auto; float: left"src="./assets/icon.png" alt="icon" (click)="gotohome()">

<div class="menu">
  <h2 (mouseenter)="this.voiceoverService.readingText($event)" (mouseleave)="this.speechSynthesizer.stop()">{{ loadedText.settings}}</h2>
  <h4 (mouseenter)="this.voiceoverService.readingText($event)" (mouseleave)="this.speechSynthesizer.stop()" (click)="vandsDialog()">{{ loadedText.vandps}}</h4>
  <h4 (mouseenter)="this.voiceoverService.readingText($event)" (mouseleave)="this.speechSynthesizer.stop()" (click)="boardsizeDialog()">{{ loadedText.gamesize}}</h4>
  <h4 (mouseenter)="this.voiceoverService.readingText($event)" (mouseleave)="this.speechSynthesizer.stop()" (click)="timeDialog()">{{ loadedText.gametime}}</h4>
  <h4 (mouseenter)="this.voiceoverService.readingText($event)" (mouseleave)="this.speechSynthesizer.stop()" (click)="nofpDialog()">{{ loadedText.singleordouble}}</h4>
</div>
