<div style="display: flex">
  <img style="height: 100px; width: auto"src="./assets/icon.png" alt="icon" (click)="gotohome()">
  <h1 class="title">{{showsize}} játéktér</h1>
</div>
<div class="game">
  <table>
    <tr *ngFor="let row of rows; let i = index">
      <ng-container *ngFor="let card of row; let j = index">
        <td class="card">
          <img [src]="flipped[i][j] ? card : flipping" (click)="selectCard(i, j)">
        </td>
      </ng-container>
    </tr>
  </table>
</div>
<div class="data">
  <h1>Pontszám: {{points}}</h1>
  <br>
  <br>
  <h1>Hátralévő idő: {{time}}</h1>
</div>



