<div class="alertwindow" style="display: flex; flex-direction: column; align-items: center;">
  <p>Nyelv</p>
  <div>
    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <label style="width: 200px;">Magyar</label>
      <mat-slide-toggle #magyarToggle style="flex-grow: 1; margin-left: 20px;" (change)="angolToggle.checked = !magyarToggle.checked" checked></mat-slide-toggle>
    </div>
    <div style="display: flex; align-items: center;margin-bottom: 10px;">
      <label style="width: 200px;">Angol</label>
      <mat-slide-toggle #angolToggle style="flex-grow: 1; margin-left: 20px;" (change)="magyarToggle.checked = !angolToggle.checked"></mat-slide-toggle>
    </div>
  </div>
  <br>
  <button (click)="submit()">Ok</button>
</div>
