<div class="alertwindow" style="display: flex; flex-direction: column; align-items: center;">
  <p>Játékidő</p>
  <div>
    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <label style="width: 400px;">60 másodperc</label>
      <mat-slide-toggle #toggle60 style="flex-grow: 1; margin-left: 20px;" (change)="toggle120.checked = false; toggle180.checked = false; toggle300.checked = false;" [checked]="gameservice.getTime()==90"></mat-slide-toggle>
    </div>
    <div style="display: flex; align-items: center;margin-bottom: 10px;">
      <label style="width: 400px;">120 másodperc</label>
      <mat-slide-toggle #toggle120 style="flex-grow: 1; margin-left: 20px;" (change)="toggle60.checked = false; toggle180.checked = false; toggle300.checked = false;" [checked]="gameservice.getTime()==120"></mat-slide-toggle>
    </div>
    <div style="display: flex; align-items: center;margin-bottom: 10px;">
      <label style="width: 400px;">180 másodperc</label>
      <mat-slide-toggle #toggle180 style="flex-grow: 1; margin-left: 20px;" (change)="toggle60.checked = false; toggle120.checked = false; toggle300.checked = false;" [checked]="gameservice.getTime()==180"></mat-slide-toggle>
    </div>
    <div style="display: flex; align-items: center;margin-bottom: 10px;">
      <label style="width: 400px;">300 másodperc</label>
      <mat-slide-toggle #toggle300 style="flex-grow: 1; margin-left: 20px;" (change)="toggle60.checked = false; toggle120.checked = false; toggle180.checked = false;" [checked]="gameservice.getTime()==300"></mat-slide-toggle>
    </div>
  </div>
  <br>
  <button (click)="submit()">Ok</button>
</div>
