<img style="height: 150px; width: auto;float: left"src="./assets/icon.png" alt="icon" (mouseenter)="this.speechSynthesizer.speak(this.spokenText.mainpage, this.currentLanguage)" (mouseleave)="this.speechSynthesizer.stop()" (click)="gotohome()">
<img style="height: 150px; width: auto;float: right"src="./assets/settings.jpg" alt="icon" (mouseleave)="this.speechSynthesizer.stop()" (mouseenter)="this.speechSynthesizer.speak(this.spokenText.settings, this.currentLanguage)" (mouseleave)="this.speechSynthesizer.stop()" (click)="gotosettings()">
<img style="height: 135px; width: auto;float: right"src="./assets/help.png" alt="icon" (mouseleave)="this.speechSynthesizer.stop()" (mouseenter)="this.speechSynthesizer.speak(this.spokenText.help, this.currentLanguage)" (mouseleave)="this.speechSynthesizer.stop()" (click)="gotohelp()">
<div class="centeritems">
  <div>
    <h1 (mouseenter)="this.voiceoverService.readingText($event)" (mouseleave)="this.speechSynthesizer.stop()">{{ loadedText.welcome}}</h1>
  </div>
  <div class="flexA">
    <a (mouseenter)="this.voiceoverService.readingText($event)" (mouseleave)="this.speechSynthesizer.stop()" (click)="gotogame()">{{ loadedText.start}}</a>
    <a (mouseenter)="this.voiceoverService.readingText($event)" (mouseleave)="this.speechSynthesizer.stop()" (click)="gotoresults()">{{ loadedText.rankings}}</a>
  </div>
</div>

