<div class="alertwindow" style="display: flex; flex-direction: column; align-items: center;">
  <div class="p">
    <p (mouseenter)="voiceoverHungarian($event)" (mouseleave)="this.speechSynthesizer.stop()">Állítsd be a nyelvet!</p>
    <p (mouseenter)="voiceoverEnglish($event)" (mouseleave)="this.speechSynthesizer.stop()">Please select language!</p>
  </div>
  <div>
    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <label (mouseenter)="voiceoverHungarian($event)" (mouseleave)="this.speechSynthesizer.stop()" style="width: 200px;">Magyar</label>
      <mat-slide-toggle #toggleHu style="flex-grow: 1; margin-left: 20px;" (change)="toggleEn.checked = !toggleHu.checked" checked></mat-slide-toggle>
    </div>
    <div style="display: flex; align-items: center;margin-bottom: 10px;">
      <label (mouseenter)="voiceoverEnglish($event)" (mouseleave)="this.speechSynthesizer.stop()" style="width: 200px;">English</label>
      <mat-slide-toggle #toggleEn style="flex-grow: 1; margin-left: 20px;" (change)="toggleHu.checked = !toggleEn.checked"></mat-slide-toggle>
    </div>
  </div>
  <br>
  <button (mouseenter)="save()" (mouseleave)="this.speechSynthesizer.stop()" (click)="submit()">Ok</button>
</div>
