<img style="height: 100px; width: auto; float: left"src="./assets/icon.png" alt="icon" (click)="gotohome()">


<div class="list">
  <h2>Ranglista</h2>
  <table>
    <th>Helyezés</th>
    <th>Név</th>
    <th>Pontszám</th>
    <tbody>
    <tr>
      <td>
        1.
      </td>
      <td>
        Kiscica
      </td>
      <td>
        2000
      </td>
    </tr>
    <tr>
      <td>
        2.
      </td>
      <td>
        Kiskuta
      </td>
      <td>
        1000
      </td>
    </tr><tr>
      <td>
        3.
      </td>
      <td>
        Noname
      </td>
      <td>
        100
      </td>
    </tr>
    </tbody>
  </table>
</div>
